@import "./variables.scss";

// Reset básico para garantir que a estrutura de layout ocupe toda a tela
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapa {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
  }

  #map {
    flex-grow: 1;
    width: 100%;
    height: 500px;
  }
}

// Media Queries para Responsividade
@media (max-width: 768px) {
  .mapa {
    padding: 2rem 1rem;

    h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 480px) {
  .mapa {
    padding: 1rem 0.5rem;

    h1 {
      font-size: 1.8rem;
    }
  }
}
